html {
    --tan: #F5F2EB;
    --brown: #3B3127;
    --black: #111;
}

header {
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    border-bottom: solid 1px #111;
    font-size: 31px;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    padding-top: 2rem;
    font-size: 25px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 25px;
}

p {
    font-size: 15px;
    padding-bottom: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

header {
    background-color: var(--tan);
    color: var(--black);
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

.about {
    font-size: 15px;
    background-color: var(--tan);
    color: var(--black);
    padding: 0 3rem;
    padding-bottom: .75rem;
}

figure {
    margin-top: 2rem;
    margin-bottom: 2.7rem;
}

@media screen and (min-width: 870px) {
    .two-column {
        display: grid;
        grid-gap: 10rem;
        grid-template-columns: 1fr 1fr;
    }
}

.drinks {
    border-bottom: solid 1px #F5F2EB;
    background-color: var(--brown);
    color: var(--tan);
    font-size: 15px;
    padding: 0 3rem;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
}

.hotdrinkslist {
    background-color: var(--brown);
    color: var(--tan);
    font-size: 15px;
    padding: 0 3rem;
    padding-top: 2.5rem;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.colddrinkslist {
    background-color: var(--brown);
    color: var(--tan);
    font-size: 15px;
    padding: 0 3rem;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.food {
    border-bottom: solid 1px #111;
    background-color: var(--tan);
    color: var(--black);
    padding: 0 3rem;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
}

.foodlist {
    background-color: var(--tan);
    color: var(--black);
    font-size: 15px;
    padding: 0 3rem;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.location {
    border-bottom: solid 1px #F5F2EB;
    background-color: var(--brown);
    color: var(--tan);
    font-size: 15px;
    padding: 0 3rem;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
}