html {
    cursor: url("https://gcdnb.pbrd.co/images/K3c7xz06auip.png?o=1"), auto;
    --black: #111;
    --brown: #3B3127;
    --tan: #F5F2EB;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #F5F2EB;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: center;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1119px;
    justify-content: space-around;
    align-items: center;
}

.left-container,
.right-container {
    display: flex;
    flex-flow: row nowrap;
    width: 300px;
    z-index: 1;
}

.left-container {
    justify-content: flex-start;
}

.right-container {
    justify-content: flex-end;
}

.nav-left,
.nav-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    flex-basis: 300px;
    align-items: center;
    list-style: none;
}

a {
    color: #111;
    cursor: url("https://gcdnb.pbrd.co/images/rxDIa36ScF5y.png?o=1"), auto;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: italic;
    padding: 1em 1.5em;
    text-decoration: none;
}

a:hover {
    background-color: #3B3127;
}

a:visited {
    color: #3B3127;
}

header {
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    border-bottom: solid 1px #111;
    font-size: 31px;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

h2 {
    border-bottom: solid 1px #F5F2EB;
    font-size: 25px;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    position: absolute;
}

h3 {
    border-bottom: solid 1px #111;
    font-size: 25px;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    position: absolute;
}

p {
    font-size: 15px;
    padding-bottom: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}


ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

header {
    color: var(--black);
    background-color: var(--tan);
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

.about {
    color: var(--black);
    background-color: var(--tan);
    padding: 0 3rem;
    padding-bottom: .75rem;
}

figure {
    margin-bottom: 2.7rem;
    margin-top: 0;
}

@media screen and (min-width: 1080px) {
    .two-column {
        display: grid;
        grid-gap: 10rem;
        grid-template-columns: 1fr 1fr;
    }
}

.drinks {
    color: var(--tan);
    cursor: url(https://gcdnb.pbrd.co/images/rxDIa36ScF5y.png?o=1), auto;
    background-color: var(--brown);
    padding-left: 4.5rem;
}

.hotdrinkslist {
    background-color: var(--brown);
    color: var(--tan);
    cursor: url(https://gcdnb.pbrd.co/images/rxDIa36ScF5y.png?o=1), auto;
    padding: 0 3rem;
    padding-top: 5.5rem;
}

.colddrinkslist {
    background-color: var(--brown);
    color: var(--tan);
    cursor: url(https://gcdnb.pbrd.co/images/rxDIa36ScF5y.png?o=1), auto;
    padding: 0 3rem;
    padding-bottom: 3rem;
    padding-top: 5.5rem;
}

.food {
    color: var(--black);
    background-color: var(--tan);
    padding-left: 4.5rem;
}

.foodlist {
    color: var(--black);
    background-color: var(--tan);
    padding: 0 3rem;
    padding-bottom: 3rem;
    padding-top: 5.5rem;
}

.name {
    color: var(--tan);
    cursor: url(https://gcdnb.pbrd.co/images/rxDIa36ScF5y.png?o=1), auto;
    background-color: var(--brown);
    padding-left: 4.5rem;
}

.location {
    color: var(--tan);
    cursor: url(https://gcdnb.pbrd.co/images/rxDIa36ScF5y.png?o=1), auto;
    background-color: var(--brown);
    padding-bottom: 1rem;
    padding-top: 5.5rem;
}

.contact {
    color: var(--black);
    background-color: var(--tan);
    padding-left: 4.5rem;
}

.info {
    color: var(--black);
    background-color: var(--tan);
    padding-bottom: 1rem;
    padding-top: 5.5rem;
}

#raini {
    color: var(--tan);
    cursor: url(https://gcdnb.pbrd.co/images/rxDIa36ScF5y.png?o=1), auto;
    background-color: var(--brown);
    padding-top: 3rem;
}